.container {
  display: block;
  width: 90%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
.board {
  border: 2px solid black;
}

.row {
  display: flex;
  height: 40px;
}

.cell {
  background: white;
  width: 40px;
  border: 2px solid black;
  text-align: center;
  vertical-align: center;
}
